@mixin make-bg-color($name, $color) { 
  $className: "bg-#{$name}";
  .#{$className}.#{$className}.#{$className} {
    background-color: $color; 
  }
}

@mixin make-bg-gradient($name, $gradient) { 
  $className: "bg-gradient-#{$name}";
  .#{$className}.#{$className}.#{$className} {
    //@extend %background-base; 
    background-color: nth($gradient, 2); 
    background: linear-gradient($gradient); 
  }
}

@mixin make-bg-hover($name, $color-default, $color-inactive) { 
  $className: "bg-hover-#{$name}";
  // Increase specificy by repeating class 
  .#{$className}.#{$className}.#{$className} {
    background-color: $color-inactive;
    &:hover,
    &:focus,
    &:focus-within {
      background-color: $color-default;
    }
  }
}

@mixin make-bg-pic($path-to-image) { 
  &:before { 
    height: calc(100% + 10em); 
    background-image: url(#{$path-to-image}); 
    background-position: center center; 
    background-size: cover; 
    background-repeat: no-repeat; 
  }
}

@include make-bg-color("gray-pure-light", $gray-93);
@include make-bg-color("gray-pure-dark", $gray-20);
@include make-bg-color("gray-light", $dusk-15);
@include make-bg-color("gray-dark", $dusk-80);
@include make-bg-color("white", $white); 
@include make-bg-color("blue-black", $black-blue); 
@include make-bg-color("red", $strawberry-red); 
@include make-bg-color("orange", $orange); 
@include make-bg-color("yellow", $broom-yellow); 
@include make-bg-color("green", $may-green); 
@include make-bg-color("ocean", $sapphire-blue); 
@include make-bg-color("blue", $turquoise-blue); 
@include make-bg-color("pink", $rose-red); 
@include make-bg-color("gray", $dusk-50); 
@include make-bg-color("red-light", $antique-pink);
@include make-bg-color("orange-light", $pastel-yellow);
@include make-bg-color("yellow-light", $zinc-yellow);
@include make-bg-color("green-light", $pastel-green);
@include make-bg-color("blue-light", $pastel-turquoise);
@include make-bg-color("pink-light", $light-pink);

@include make-bg-gradient("red", $red-gradient-colors); 
@include make-bg-gradient("orange", $orange-gradient-colors); 
@include make-bg-gradient("green", $green-gradient-colors); 
@include make-bg-gradient("blue", $blue-gradient-colors); 
@include make-bg-gradient("pink", $pink-gradient-colors); 
@include make-bg-gradient("gray", $gray-gradient-colors); 

@include make-bg-hover("red", $strawberry-red, $antique-pink);
@include make-bg-hover("orange", $orange, $pastel-yellow);
@include make-bg-hover("yellow", $broom-yellow, $zinc-yellow);
@include make-bg-hover("green", $may-green, $pastel-green);
@include make-bg-hover("blue", $turquoise-blue, $pastel-turquoise);
@include make-bg-hover("pink", $rose-red, $light-pink);
@include make-bg-hover("gray", $dusk-70, $dusk-50);
