html {
  font-family: "Fira Sans", "Segoe UI", "Helvetica", "Source Sans Pro", "Roboto", sans-serif;
  color: $dusk-80;
}

body {
  margin: 0;
  background-color: $white;
  min-height: 100vh;

  overflow-x: hidden;
  overflow-y: scroll;

  font-size: 12pt;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 16pt;
  }
}

// Add basic style to HTML5 semantic elements for browsers who don't know them
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
time,
mark {
  display: inline;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.05em;
}
h6 {
  font-size: 1em;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: $sp;
}

section > h2,
section > h3 {
  margin-top: 0;
}

div > h3 {
  margin-bottom: $sp;
}

p {
  line-height: 1.6em;
  //TODO should have max-width inside texts that are meant for reading.
  //max-width: 33em;
}

em {
  @extend %font-weight-bold;
}

img {
  max-width: 100%;
}

li > a,
li > span > a,
p > a {
  color: $dusk-60;
  text-decoration: none;
  border-bottom: ($sp * 0.1) solid $dusk-60;

  &:hover,
  &.active:hover {
    color: $orange;
    border-bottom-color: $orange;
  }

  &:active {
    color: $gray-13;
  }

  &.active {
    @extend %font-weight-bold;
  }
}

p > a {
  &:visited {
    color: $purple;
    border-bottom-color: $purple;
  }
  &:visited:hover {
    color: $orange;
    border-bottom-color: $orange;
  }
}

a {
  // Adds an orange outline around every link that is focused via keyboard
  border-radius: 0.1rem;

  &:focus-visible {
    outline: 0.2rem solid $orange;
    outline-offset: 0.2rem;
  }
}

.bright-font {
  color: $white;
}

a.invisible-link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &.active:hover {
    color: $orange;
    border-bottom: ($sp * 0.1) solid $orange;
  }

  &:active {
    color: $gray-13;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .page-footer {
    margin-top: auto;
  }
}

.spaced-bottom {
  margin-bottom: $sp * 3;
}

.hide-overflow {
  overflow: hidden;
}

.padded-vertical {
  padding-top: 3em;
  padding-bottom: 3em;
}

.flush-last-item.flush-last-item > *:last-child {
  // Increase specificy by repeating class
  margin-bottom: 0;
}

.tilt-1 {
  transform: rotate(1deg);
}

.tilt-2 {
  transform: rotate(2deg);
}

.tilt-n1 {
  transform: rotate(-1deg);
}

.tilt-n2 {
  transform: rotate(-2deg);
}

.list {
  margin-top: 0;
  line-height: 1.25;

  & > *:not(:last-child) {
    margin-bottom: 0.4em;
  }
}

.list-none {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}

.list-separated {
  $border: 0.1em solid $dusk-20;
  position: relative;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  
  .list-separated-item {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: $border;

    &:first-child {
      border-top: $border;
    }
  }

}

.list-tags {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;

  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}