.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: $sp;
  padding-right: $sp;

  &.small {
    max-width: $max-size-text;
  }

  &.medium {
    max-width: $max-size-wrapper;
  }

  &.big {
    max-width: $max-size-bulge;
  }

  &.huge {
    width: 90vw;
    max-width: 120rem;
  }

  &.full-bleed {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &.left {
    margin-left: unset;
  }

  &.right {
    margin-right: unset;
  }

  &.no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
